trigger: none

pool: Latest-Pool

stages:
  - stage: TerraformInitStage
    displayName: initwalistage
    jobs:
      - job: FirstJob
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'

          - task: TerraformTask@5
            displayName: terraformInit
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: 'rumuitserviceconnection'
              backendAzureRmStorageAccountName: 'test42022'
              backendAzureRmContainerName: 'bawla-container'
              backendAzureRmKey: 'terraform.tfstate'

          - task: TerraformTask@5
            displayName: terraformValidate
            inputs:
              provider: 'azurerm'
              command: 'validate'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'plan'
              environmentServiceNameAzureRM: 'rumuitserviceconnection'