trigger: none

pool: Latest-Pool

stages:
  - stage: InstallAndInit
    displayName: Install And Init
    jobs:
      - job: InstallAndInit
        displayName: Install And Init Job
        steps:
          
          - task: TerraformTask@5
   
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: 'rumuitserviceconnection'
              backendAzureRmStorageAccountName: 'test42022'
              backendAzureRmContainerName: 'bawla-container'
              backendAzureRmKey: 'terraform.tfstate'


  - stage: Plan
    displayName: Plan Stage
    jobs:
      - job: InitAndPlanJob
        steps:
          
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: 'rumuitserviceconnection'
              backendAzureRmStorageAccountName: 'test42022'
              backendAzureRmContainerName: 'bawla-container'
              backendAzureRmKey: 'terraform.tfstate'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'plan'
              environmentServiceNameAzureRM: 'rumuitserviceconnection'


  - stage: Linting    
    displayName: Linting Stage
    jobs:
      - job: LintingJob
        steps:
          
          - task: PowerShell@2
            continueOnError: true
            inputs:
              targetType: 'inline'
              script: 'tflint.exe --chdir=$(System.DefaultWorkingDirectory)'



  - stage: SecurityScan
    displayName: Security Scan
    jobs:
      - job: SecurityScanJob
        steps:
               
          
          - task: PowerShell@2
            continueOnError: true
            inputs:
              targetType: 'inline'
              script: 'tfsec'
              workingDirectory: '$(System.DefaultWorkingDirectory)'


  - stage: ManualValidationStage
    pool: server
    displayName: Manual Validation Stage
    jobs:
      - job: ManualValidationJob
        steps:
                 
          - task: ManualValidation@1
            inputs:
              notifyUsers: 'shivammagotra8@gmail.com'
              approvers: 'shivammagotra8@gmail.com'


  - stage: DeployStage
    displayName: Deploy Stage
    jobs:
      - job: DeployJob
        displayName: Deploy Job
        steps:
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: 'rumuitserviceconnection'
              backendAzureRmStorageAccountName: 'test42022'
              backendAzureRmContainerName: 'bawla-container'
              backendAzureRmKey: 'terraform.tfstate'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'apply'
              environmentServiceNameAzureRM: 'rumuitserviceconnection'

  # - stage: Deploy
  #   displayName: Deploy Stage
  #   jobs:
  #     - job: DeployJob
        

#   stage 1: InstallAndInit
# -->Install
# -->Init

# stage 2: Plan
# --> init
# -->Plan

# stage 3: Linting
# --> tflint

# stage 4: SecurityScan
# -->tfsec
# -->terraform validate

# stage 4: Infracost 
# --> init
# -->infracost

# stage 5: manualvalidation
# --> manualvalidation

# stage 6: Deploy
# --> init
# --> apply